@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/TailwindCSS/input.css -o ./src/TailwindCSS/output.css  --watch */

body {
    background-color: rgba(12, 8, 37, 0.758);
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}